src/gallium

# Unignore all with extensions
!*.*

# Prerequisites
*.d

# vim
*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Autocruft
aclocal.m4
autom4te.cache
config.log
config.status
configure~
configure
src/config.h
src/config.h.in
src/config.h.in~
src/stamp-h1
Makefile
